*{
    border: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1445264618000-f1e069c5920f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* backdrop-filter: opacity(10%); */
    background-position: center;
    
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.185); /* 20% de preto */
    z-index: 0;
}

header, main, footer{
    z-index: 2;
}
body {
    /* background-color: rgb(173, 129, 71); */
    min-height: 100vh;
    margin: 0;
}

h1{
    font-size: 100px;
}

footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: PapayaWhip; */
}

body {
    display: flex;
    flex-direction: column;
}

header {
    min-height: 50px;
    /* background: lightcyan; */
  }

  main {
    flex: 1;
  }

.info{
    display: flex;
    flex-direction: row;
}

.threeDays{
    display: flex;
    flex-direction: row;
}

.nextsDays, .now{
    margin-left: 10px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.principalInfo{
    font-size: 25px;
    font-weight: bolder;
}

#status{
    transform: rotate(-90deg);
    margin-top: 20px;
    /* background-color: aqua; */
    width:200px;
    font-size: large ;
    /* position: relative; */
    /* left:70%; */
}

.statusBox{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
    /* background-color: blueviolet; */

}

.title{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 100%;
    /* background-color: chartreuse; */
}

.principalTitle{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    /* background-color: aquamarine; */
}

.f1{
    background-color: rgba(0, 0, 0, 0.144);
    color: white;
    border: solid 2px white;
    border-radius: 13px;
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
    width: 87%;
    /* height: fit-content; */
}

.subFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.footerTitle{
    margin-left: 5%;
    margin-bottom: 10%;
    font-weight: 800;
    font-size: larger;
    /* background-color: aqua; */
}

.rainProbability{
    transform: rotate(45deg);
}


.credit{
    background-color: white;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* unvisited link */
a.credit1:link, a.credit1:visited, a.credit1:hover, a.credit1:active {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

form{
    display: flex;
    align-items: center;
    width: 100%;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    height: 40px;
    border-radius: 15px;
    margin-top: 2px;
    cursor: pointer;
    font-weight: 700;
}

#results{
    z-index: 10;
    top: 52px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 70%;
}



.searchSpace{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
    flex-direction: column;
}

.buttonsSearch{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.search{
    /* background-color: aquamarine; */
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    width: 70%;
    height: 40px;
    font-size: large;
    padding-left: 10px;
    border-radius: 0px 15px 15px 0px;
}

form{
    /* background-color: chartreuse; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchPlace{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    margin-top: 10px;
    width: 100%;
    
}

.searchSymbol{
    display: flex;
    align-items: center;
    background-color: gray;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 0px 0px 15px;
    color: white;
    
}

#city{
    font-size: 1.2em;
}

@media (min-width: 900px) {
    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .f1{
        width: 33%;

    }


    .alignFooter{
        display: flex;
        flex-direction: column;
    }

    .subFooter{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

.search, #results{
    width: 30%;
}


  }